# Java
target/

# Editors
*.iml
.idea/

**/application.yml
**/node_modules
**/node/
**/etc/

# OS Specific
.DS_Store
src/main/java/io/cdsoft/Application.java
src/main/java/io/cdsoft/MyAnypointConfig.java
